<div class="container-fluid">
  <div class="row getdown">
    <div class="offset-3 col-md-9">
     <div class=" ">
     
      <div class="card-block">
        <div class="row">
          
          <div class="smmoveright">
            <h4 style="text-align: left;"><i class="fa fa-search iconcolor extraincreaseicon"></i></h4>
            <div  class="extrafontsize">
              <p>5   </p>
            </div>
            <p class="greycolor">Subjects Screened<br> within the last 30 days</p>
          </div>
        
          <div class="smmoveright">
            <h4 style="text-align: left;"><i class="fa fa-search iconcolor extraincreaseicon"></i></h4>
            <div class="extrafontsize">
              <p>40   </p>
            </div>
            <p class="greycolor" style="width: 150px">Subjects<br> In-screening</p>
          </div>

          <div class="smmoveright">
            <h4 style="text-align: left;"><i class="fa fa-search iconcolor extraincreaseicon"></i></h4>
            <div  class="extrafontsize">
              <p>1658  </p>
            </div>
            <p class="greycolor">Total subjects<br> Screened</p>
          </div> 
            <div class="smmoveright">
            <h4 style="text-align: left;"><i class="fa fa-user iconcolor extraincreaseicon"></i></h4>
            <div  class="extrafontsize">
              <p>1658 </p>
            </div>
            <p class="greycolor">Subjects Enrolled within <br> the last 30 days</p>
          </div> 
            <div class="smmoveright">
            <h4 style="text-align: left;"><i class="fa fa-user-times iconcolor extraincreaseicon"></i></h4>
            <div  class="extrafontsize">
              <p>1658  </p>
            </div>
            <p class="greycolor">Screen Failure <br>Rate</p>
          </div>      

        </div>
      </div>
    </div>
<div class="row">
    <div class="col-md-12">
    <div class="card">
      <div class="card-header headingsize">
        <span>30-day Rolling Subjects Screened Trend</span>
      </div>
      <div class="card-block">
     <div id="visualization"></div>
      </div>
    </div>
  </div>
 
</div>
<div class="row">
     <div class="col-md-12 mb-4">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link  active" data-toggle="tab" href="#home3" role="tab"><i class="icon-book-open"></i> Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile3" role="tab"><i class="fa fa-building-o"></i> Quality & Compliance</a>
          </li>

        </ul>

        <div class="tab-content" style="height: 250px">
          <div class="tab-pane active" id="home3" role="tabpanel">
            <h6>SITE DETAILS</h6>
            <div class="row " style="border-bottom: 1px solid #848484">
              <div class="float-left moveright"><p class="greycolor">Site Number</p><h6 style="    margin-top: -20%;">24123</h6></div>
              <div class="float-left moveright"><p class="greycolor">PI Name</p><h6 style="    margin-top: -16%;">Dr. John Doe</h6></div>
              <div class="float-left moveright"><p class="greycolor">Country</p><h6 style="    margin-top: -16%;">United States</h6></div>
              <div class="float-left moveright"><p class="greycolor">Site Visit Schema</p><h6 style="    margin-top: -16%;">13-Week</h6></div>

            </div>

            <div class="row">
              <div class="moveright">
                <h4 style="text-align: left;"><i class="icon-calendar iconsizeincrease"></i></h4>
                <p class="greycolor">Next Monitoring Visit</p>
                <div  class="resultfont">
                <p>08/12/2017</p>
                </div>
              </div>
              <div class="moveright">
                <h4 style="text-align: left;"><i class="icon-calendar iconsizeincrease"></i></h4>
                <p class="greycolor">Last Monitoring Visit</p>
                <div  class="resultfont">
                <p>05/20/2017</p>
              </div>
            </div>
              
              <div class="moveright">
                <h4 style="text-align: left;"><i class="icon-notebook iconsizeincrease"></i></h4>
                <p class="greycolor">Outstanding pages</p>
                <div  class="resultfont">
                <p>195</p>
              </div>
              </div>
              <div class="moveright">
                <h4 style="text-align: left;"><i class="fa fa-user iconsizeincrease"></i></h4>
                <p class="greycolor">Enrolled Subjects</p>
                <div  class="resultfont">
                <p>155</p>
                </div>
              </div>
              <div class="moveright">
                <h4 style="text-align: left;"><i class="fa fa-user iconsizeincrease"></i></h4>
                <p class="greycolor">Active Subjects</p>
                <div  class="resultfont">
                <p>105</p>
              </div>
              </div>
              <div class="moveright">
                <h4 style="text-align: left;"><i class="fa fa-question-circle iconsizeincrease"></i></h4>
                <p class="greycolor">Outstanding Queries</p>
                <div class="resultfont">
                <p>255</p>
              </div>
              </div>






            </div>
          </div>  
          <div class="tab-pane " id="profile3" role="tabpanel" >
           <h6>STUDY</h6>
           <div style="display: inline;">
            <div class="float-left"><p>Site Number</p><h6>24123</h6></div>
            <div class="float-left"><p>PI Name</p><h6>Dr. John Doe</h6></div>
            <div class="float-left"><p>Country</p><h6>United States</h6></div>
            <div class="float-left"><p>Site Visit Schema</p><h6>13-Week</h6></div>
          </div>
        </div>

      </div>
    </div>
</div>
  </div>
  
</div>